/dts-v1/;
/plugin/;

/ {
    fragment@0 {
        target-path = "/";
        __overlay__ {
            emu68 {
                diag {
                    bup: buptest {
                        status = "disabled";
                        iterations = <1>;
                    };
                };
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            emu68 {
                diag {
                    mem: membench {
                        status = "disabled";
                        base = <0>;
                        size = <0x40000>;
                    };
                };
            };
        };
    };

    __overrides__ {
        buptest = <&bup>,"status";
        bupiter = <&bup>,"iterations:0";

        membench = <&mem>,"status";
        base = <&mem>,"base:0";
        size = <&mem>,"size:0";
    };
};
