[submodule "libtinystd"]
	path = external/tiny-stl
	url = https://github.com/michalsc/tiny-std.git
[submodule "external/capstone"]
	path = external/capstone
	url = https://github.com/michalsc/capstone.git
